<article class="videos__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="videos__link h-entry" href="{{ item.link }}" itemprop="url">
      <figure class="videos__img u-photo">
        <img src="{{ item.image }}" alt="{{ item.display_name }}" data-aos="fade-in" itemprop="image"/>
      </figure>
    <div>
      <h2 class="videos__text e-content" style="overflow-wrap: break-word;"><strong itemprop="name">{{ item.display_name }}</strong> —
        <span itemprop="description">
        {% if item.status == "up for grab" %}✅
        {% else if item.status == "DIY recipe" %}<img src="/images/diy-icon.png" alt="DIY recipe" style="height: 1.75em;"/>
        {% endif %}
        {% if color_variation == "yes" %}🎨 Open to variations{% endif %}</span></h2>
    </div>
  </a>
</article>
