---
layout: default
---
<body id="page-top">
  {%- include nav.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      {%- if site.data.wish.size > 0 -%}
        {%- include wishlist.html -%}
      {%- endif -%}

      {%- if site.data.giveaway.size > 0 -%}
        {%- include giveaway.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
</main>

{%- include footer.html -%}
{% include post-scripts.html %}
</body>
